.news-card .card-img-top, .news-card-button {
    transition: 0.2s;
}

.news-card {
    margin: 0.8rem;
    border: 0;
    background-color: inherit;
}
.news-card:hover .card-img-top, .news-card:hover .news-card-button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.news-card .card-img-top {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 0.25rem;
}

.row > * {
    padding-right: 0;
    padding-left: 0;
}

.news-card-button {
    margin-bottom: 1rem;
}