.service-section h1 {
    position: relative;
    color: rgb(38, 38, 38);
    font-family: "Averta", helvetica, arial, sans-serif;
    font-size: 23px;
    margin: 1.5rem 0 2rem 0;
    font-weight: 900;
    text-transform: uppercase;
}

.service-section .form-switch input {
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
}

.service-section h1::before {
    content: "";
    position: absolute;
    bottom: 0px;
    display: block;
    width: 40px;
    border-bottom: 4px solid rgb(13, 110, 253);
    left: 50%;
    transform: translateX(-50%);
}

.service-section {
    border-top: 1px solid rgba(191, 191, 191, 0.2);
    margin-top: 24px;
}

.location-name {
    justify-content: center;
}

.location-name-edit {
    max-width: 10em;
}