  .navbar > * {
    width: 100%;
  }

  .offcanvas .username {
    flex-grow: 2;
  }

  .offcanvas .user-form {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-evenly;
  }

  .offcanvas .user-form .btn {
    max-width: fit-content;
    border-radius: 0.25rem !important;
  }