  .navbar > * {
    width: 100%;
  }

  .offcanvas .username {
    flex-grow: 2;
  }

  .offcanvas .form-group {
    margin-bottom: 1rem;
  }

  .offcanvas .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .offcanvas .form-buttons .btn {
    max-width: fit-content;
    border-radius: 0.25rem !important;
  }

  .sidebar-icon {
    border: none;
    color: white;
    background: rgb(13, 110, 253);;
  }